:root {
    --bg: #030303;
    --neon: #00f2ff;
}

body {
    background: var(--bg);
    color: #fff;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* EFECTO DE COLORES EN TIEMPO REAL */
@keyframes rainbowFlow {
    0% { border-color: #00f2ff; box-shadow: 0 0 15px #00f2ff; }
    33% { border-color: #ff00ff; box-shadow: 0 0 15px #ff00ff; }
    66% { border-color: #ffff00; box-shadow: 0 0 15px #ffff00; }
    100% { border-color: #00f2ff; box-shadow: 0 0 15px #00f2ff; }
}

.glass-container {
    background: #0a0a0a;
    border: 2px solid var(--neon);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    animation: rainbowFlow 5s linear infinite; /* Cambio de color cada 5 seg */
}

.monitor-box {
    margin-top: 20px;
    background: #000;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid var(--neon);
}

.log-text { font-size: 14px; color: var(--neon); font-weight: bold; }

#progress-bar {
    height: 4px;
    width: 0%;
    background: var(--neon);
    box-shadow: 0 0 10px var(--neon);
    transition: 0.3s;
}
