<!DOCTYPE html>
<html lang="es">
<head>
    <title>MALLYWEAR | Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
</head>
<body>
    <div class="shop-grid">
        <header><h2>MALLY<span class="magenta">WEAR</span></h2></header>
        <div class="product-card">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="100">
            <h3>Colección Imperial</h3>
            <button onclick="location.href='/product'">VER DETALLES</button>
        </div>
        <a href="/" class="back">VOLVER AL PANEL</a>
    </div>
</body>
</html>
